@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>


<body>
    <div class="hero_area">

        <!-- end header section -->
        <!-- slider section kn-->
        <section class=" slider_section position-relative">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="box">
                                <div class="row">



                                   
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1 style="color: red; border-bottom: 4px solid red;">
                                                   SEVA HANDS
                                                 </h1>

                                             
                                                <h2 style="margin-left: 100px;">
                                                    Serving With Sincerity
                                                </h2>

                                                <h4 style="margin-left: 450px;">
                                                               NPO : 235 - 360
                                                   </h4>

                                                <div class="" >
                                                    <a href="">
                                                        Donate
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                               <img src="~/images/logotrans.png" alt="" style="width: 600px; height: 450px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                               
                                                <div class="">
                                                    <a href="">
                                                        Donate
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                         <div class="img-box">

                                               <img src="~/images/carOne.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <div class="">
                                                    <a href="">
                                                        Donate
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="img-box">
                                         <img src="~/images/carTwo.png"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                </h1>
                                               
                                                <div class="">
                                                    <a href="">
                                                        Donate
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                          <img src="~/images/carFour.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                </h1>
                                               
                                                <div class="">
                                                    <a href="">
                                                        Donate
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                             <img src="~/images/carFive.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- how section -->
    <section class="how_section layout_padding custom-bg-color">
        <div class="heading_container">
            <h2>
                Our Services
            </h2>
        </div>
        <div class="how_container">
            <div class="box">
                <div class="img-box">
                    <img src="~/images/foodseva.png" alt="" />
                </div>
                <div class="detail-box">
                    <h5>
                        What we do
                    </h5>
                    <p>
                         <h5>
                        What we do
                    </h5>
                        Seva Hands uplifts the lives of
                        vulnerable sectors of our community
                        through nutrition based programs to
                        improve and increase capacity building
                        in marginalized communities,
                        protecting the lives of vulnerable women, the aged and children
                        ,empowering the youth through
                        capacity building through
                        knowledge,psycho social sngineering
                        through various methods and disaster
                        relief drives
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/howwedoit.png" alt="" />
                </div>
                <div class="detail-box">
                    <h5>
                        How we do it
                    </h5>
                    <p>
                        As women we wear many hats in our
                        lives – wife, mother, daughter, sister,
                        friend and employee however in all
                        these roles we play, Seva Hands will
                        not be who we are without our
                        donors, sponsors and our army of
                        volunteers. We are indebted to our
                        support team it is only through their
                        kindness and generosity we are able
                        to accomplish the things we do.

                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/helpedchild.png" alt="" />
                </div>
                <div class="detail-box">
                    <h5>
                        Lives benefited
                    </h5>
                    <p>
                        If we need to put a number in place we
                        have served 41 796 lunches thus far, and
                        we have assembled and distributed over
                        700 Diwali Hampers. Covid Relief
                        Hampers in excess
                        of 350. Sanitary &amp; Care packs in
                        excess of 400. Bread Distribution to
                        various Homes of Safety and Old Age
                        homes. You really cannot put a figure to
                        the lives you touch(directly or indirectly)
                        when you love what you do and it comes
                        from the heart.

                    </p>
                </div>
            </div>
        </div>
        @* <div class="btn-box">
        <a href=""> 
        Read More
        </a>
        </div>*@
    </section>
    <!-- end how section -->
    <!-- about section -->

    <section class="about_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container">
                <h2>About Us</h2>
            </div>

            <div class="box">
                <div class="image-and-detail-container">
                    <div class="img-box">
                       @* <img src="~/images/abtbg.png" alt="" style="width:60%">*@
                       <video controls width="550" height="450">
                                   <source src="~/images/shVideo.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                        </video>

                        <img src="~/images/abtbg.png" alt="" style="width: 50%;">

                    </div>
                    <div class="detail-box"  ">
                        <p>
                            Seva Hands, is a non-profit organisation, which was established in 2019. This journey was embarked upon by four friends bound by a common and simple desire to make a difference in our community. To initiate our love in action campaign, we embarked on providing sandwiches to indigent learners in our local community schools. The pandemic fuelled our passion to re-think our goals and to leverage our capabilities to be more impactful on our community and society as a whole. We continue to meet our commitment to our schools in continuing our Sandwich Drive and now Seva Hands has also evolved from a pure service endeavour into the formation of a non-profit company, Seva Hands Enterprise, aptly named, SHE. We believe that in order to empower our community we need to aid them in providing ways for them to take care of themselves in a more sustainable manner.
                        </p>
                        <!-- <div class="btn-box">
                            <a href="">Read More</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- app section -->

    <section class="app_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <h2>
                            Download our app
                        </h2>
                        <p>
                            Download the Seva Hands mobile app today and join our compassionate community, making a positive impact on the world through seamless and meaningful contributions to those in need.
                        </p>
                        <div class="download_box">
                            <h5>
                                Download Now
                            </h5>
                            <div class="btn-box">
                          
                                <a href="">
                                    <img src="~/images/play-store.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/images/logosevahome.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end app section -->
    <!-- auto section -->

    

    <!-- end client section -->
  @*  <!-- info section -->
    <section class="info_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_contact">
                        <div class="info_logo">
                            <a href="index.html">
                                <span>
                                    SEVA HANDS
                                </span>
                            </a>
                        </div>
                        <h5>
                            Contact Us
                        </h5>
                        <div>
                            <div class="img-box">
                                <img src="~/images/location.png" width="18px" alt="" />
                            </div>
                            <p>
                                Page when looking at its layou
                            </p>
                        </div>
                        <div>
                            <div class="img-box">
                                <img src="~/images/phone.png" width="18px" alt="" />
                            </div>
                            <p>
                                +01 1234567890
                            </p>
                        </div>
                        <div>
                            <div class="img-box">
                                <img src="~/images/envelope.png" width="18px" alt="" />
                            </div>
                            <p>
                                demo@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_info">
                        <h5>
                            Info
                        </h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                            in some form, by injected humour,
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info_links">
                        <h5>
                            Useful Links
                        </h5>
                        <ul>
                            <li>
                                <a href="">
                                    There are many
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    variations of
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    passages of
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Lorem Ipsum
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    available, but the
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    majority have
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    suffered
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_form ">
                        <h5>
                            Newsletter
                        </h5>
                        <form action="">
                            <input type="email" placeholder="Enter your email" />
                            <button>
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->*@
    <!-- footer section -->
    
    <!-- footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- owl carousel script
      -->
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 0,
            navText: [],
            center: true,
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                1000: {
                    items: 3
                }
            }
        });
    </script>
    <!-- end owl carousel script -->
</body>

</html>