<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">

    <title>Volunteer</title>
    <style>

        body {
            font-family: "Roboto", sans-serif;
            color: #000000;
          /*  background-image: url(/images/howbg.png);*/ /*edit background -- to changes */ 
          background-image: url(/images/howbg.jpg);
          
            background-size: 100%;
            

        }
        
        .layout_padding {
            padding: 30px 0;
        }

        .layout_padding2 {
            padding: 45px 0;
        }

        .layout_padding2-top {
            padding-top: 45px;
        }

        .layout_padding2-bottom {
            padding-bottom: 45px;
        }

        .layout_padding-top {
            padding-top: 90px;
        }

        .layout_padding-bottom {
            padding-bottom: 90px;
        }

        .heading_container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
        }

            .heading_container h2 {
                font-weight: bold;
                position: relative;
           ;
             
                padding-top:30px;
                 
            }

                .heading_container h2::before {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    width: 75px;
                    height: 5px;
                    background-color: #30ae69;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }












        /*header section*/
        .hero_area {
            background-image: url(../images/hero-bg.jpg);
            background-size: cover;
        }

        .sub_page .hero_area {
            height: auto;
        }

        .sub_page .who_section.layout_padding {
            padding-top: 0;
        }

        .hero_area.sub_pages {
            height: auto;
        }

        .header_section {
            background-color: #151618;
        }

            .header_section .container-fluid {
                padding-right: 25px;
                padding-left: 25px;
            }

            .header_section .nav_container {
                margin: 0 auto;
            }

        .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
            margin: 10px 30px;
            padding: 0;
            color: #ffffff;
            text-align: center;
            position: relative;
        }

            .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
                display: none;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: #ffffff;
            }

        .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active a::after, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover a::after {
            display: block;
        }

        a,
        a:hover,
        a:focus {
            text-decoration: none;
        }

            a:hover,
            a:focus {
                color: initial;
            }

        .btn,
        .btn:focus {
            outline: none !important;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .user_option {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .user_option a {
                color: #ffffff;
                margin: 10px 30px;
            }

        .custom_nav-container .nav_search-btn {
            background-image: url(../images/search-icon.png);
            background-size: 22px;
            background-repeat: no-repeat;
            background-position-y: 7px;
            width: 35px;
            height: 35px;
            padding: 0;
            border: none;
        }

        .navbar-brand {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
        }

            .navbar-brand span {
                font-size: 20px;
                color: #ffffff;
                position: relative;
                z-index: 3;
            }

            .navbar-brand::before {
                content: "";
                position: absolute;
                left: -10px;
                bottom: 0;
                width: 45px;
                height: 45px;
                background-color: #1f2126;
                z-index: 2;
            }

        .custom_nav-container {
            z-index: 99999;
            padding: 15px 0;
        }

            .custom_nav-container .navbar-toggler {
                outline: none;
            }

                .custom_nav-container .navbar-toggler .navbar-toggler-icon {
                    background-image: url(../images/menu.png);
                    background-size: 55px;
                }

        /*end header section*/
        .slider_section {
            height: 90%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #ffffff;
        }

            .slider_section #carouselExampleIndicators {
                width: 100%;
            }

            .slider_section .row {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .slider_section .box {
                margin: 125px 0;
            }

            .slider_section .detail-box h1 {
                font-size: 4rem;
                font-weight: bold;
            }

            .slider_section .detail-box h2 {
                font-weight: bold;
                font-size: 2.5rem;
            }

            .slider_section .detail-box p {
                margin-top: 25px;
            }

            .slider_section .detail-box a {
                display: inline-block;
                padding: 10px 45px;
                background-color: #171717;
                border: 1px solid #171717;
                color: #ffffff;
                border-radius: 5px;
                -webkit-transition: -webkit-transform 0.3s;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;
                margin-top: 35px;
            }

                .slider_section .detail-box a:hover {
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
                    -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                }

            .slider_section .img-box img {
                width: 100%;
                margin-left: -80px;
                margin-top: -30px;
            }


            .slider_section #carouselExampleIndicators .carousel-indicators {
                bottom: 45px;
                margin: 0;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                .slider_section #carouselExampleIndicators .carousel-indicators li {
                    width: 14px;
                    height: 14px;
                    background-color: transparent;
                    border: 2px solid #ffffff;
                    border-radius: 100%;
                    opacity: 1;
                }

                    .slider_section #carouselExampleIndicators .carousel-indicators li.active {
                        border: 4px solid #ffffff;
                    }

        .how_section .how_container {
            display: -webkit-box;
            display: -ms-flexbox;
            width: 1200px;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 45px 60px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .how_section .how_container .box {
                text-align: center;
                display: inline-block;
                width: calc(33.33% - 10px); /* Adjust the width to fit three items */
                margin-right: 10px; /* Add some margin between the items */
                position: relative;
            }

                .how_section .how_container .box .img-box {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    height: 200px;
                    background-color: #f6f5f7;
                    margin-top: 3px;
                }

                    .how_section .how_container .box .img-box svg {
                        width: 75px;
                        height: auto;
                        margin-top: 20px;
                    }

                .how_section .how_container .box .detail-box {
                    margin-top: 20px;
                }

                    .how_section .how_container .box .detail-box h5 {
                        font-weight: bold;
                        position: relative;
                        display: none;
                    }

                .how_section .how_container .box:nth-child(3n+1) .detail-box h5::before {
                    display: none;
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    width: 75px;
                    height: 2px;
                    background-color: #30ae69;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                .how_section .how_container .box .detail-box p {
                    color: #000;
                }

                .how_section .how_container .box:hover .img-box {
                    background-color: #30ae69;
                }

                    .how_section .how_container .box:hover .img-box svg {
                        fill: #ffffff;
                    }

                .how_section .how_container .box:hover .detail-box {
                    margin-top: 15px;
                }

                    .how_section .how_container .box:hover .detail-box h5::before {
                        display: block;
                    }

                    .how_section .how_container .box:hover .detail-box p {
                        color: #212529;
                    }

        .how_section .btn-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .how_section .btn-box a {
                display: inline-block;
                padding: 10px 45px;
                background-color: #171717;
                border: 1px solid #171717;
                color: #ffffff;
                border-radius: 5px;
                -webkit-transition: -webkit-transform 0.3s;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;
            }

                .how_section .btn-box a:hover {
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
                    -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                }

        .custom-bg-color {
            background-image: url(/images/howbg.jpg);
            height: 600px;
            background-position: center; /* Adjust this value as needed */
            background-repeat: no-repeat;
        }

        .about_section {
            margin-top: 10px;
            text-align: center;
            padding: 20px 0;
        }

            .about_section .box {
                display: flex;
                flex-direction: row;
            }

                .about_section .box .img-box {
                    flex: 0 0 auto;
                    margin-left: -500px;
                    image-resolution: from-image;
                }


            .about_section .detail-box {
                flex: 0 0 auto;
                margin-left: 600px;
                margin-top: -425px;
                text-align: justify;
            }

            .about_section .box .img-box img {
                /* -webkit-filter: drop-shadow(0px 36px 13px rgba(0, 0, 0, 0.3));
                filter: drop-shadow(0px 36px 13px rgba(0, 0, 0, 0.3));*/
            }

            .about_section .btn-box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

                .about_section .btn-box a {
                    display: inline-block;
                    padding: 10px 45px;
                    background-color: #171717;
                    border: 1px solid #171717;
                    color: #ffffff;
                    border-radius: 5px;
                    -webkit-transition: -webkit-transform 0.3s;
                    transition: -webkit-transform 0.3s;
                    transition: transform 0.3s;
                    transition: transform 0.3s, -webkit-transform 0.3s;
                    margin-top: 35px;
                }

                    .about_section .btn-box a:hover {
                        -webkit-transform: translateY(-3px);
                        transform: translateY(-3px);
                        -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                        box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                    }


        section.app_section {
            color: #ffffff;
            background: -webkit-gradient(linear, left top, right top, from(#30ae69), to(#072e85));
            background: linear-gradient(to right, #30ae69, #072e85);
            padding: 30px 0;
            color: #ffffff;
            background: -webkit-gradient(linear, left top, right top, from(#30ae69), to(#072e85));
            background: linear-gradient(to right, #30ae69, #072e85);
        }

            section.app_section .row {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            section.app_section .detail-box h2 {
                font-weight: bold;
                margin-bottom: 20px;
            }

            section.app_section .detail-box .download_box {
                margin-top: 55px;
                max-width: 45px 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                section.app_section .detail-box .download_box h5 {
                    margin-right: 25px;
                }

                section.app_section .detail-box .download_box .btn-box {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }

                    section.app_section .detail-box .download_box .btn-box a {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin: 0 7px;
                    }

                        section.app_section .detail-box .download_box .btn-box a img {
                            max-width: 100%;
                        }

            section.app_section .img-box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-transform: scale(1.07) translateY(-0px);
                transform: scale(1.07) translateY(-0px);
            }

                section.app_section .img-box img {
                    width: 55%;
                }

        .auto_section {
            text-align: center;
        }

            .auto_section .box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                .auto_section .box .img-box {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    margin-top: 5px;
                }

                    .auto_section .box .img-box img {
                        max-width: 60%;
                    }

            .auto_section .btn-box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

                .auto_section .btn-box a {
                    display: inline-block;
                    padding: 10px 45px;
                    background-color: #171717;
                    border: 1px solid #171717;
                    color: #ffffff;
                    border-radius: 5px;
                    -webkit-transition: -webkit-transform 0.3s;
                    transition: -webkit-transform 0.3s;
                    transition: transform 0.3s;
                    transition: transform 0.3s, -webkit-transform 0.3s;
                    margin-top: 35px;
                }

                    .auto_section .btn-box a:hover {
                        -webkit-transform: translateY(-3px);
                        transform: translateY(-3px);
                        -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                        box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                    }

        .client_section .box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 65%;
            margin: 45px auto;
        }

            .client_section .box .client_id {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 10px 40px 5px 15px;
                text-align: center;
                position: relative;
                margin-right: 25px;
            }

                .client_section .box .client_id .img-box {
                    width: 175px;
                }

                    .client_section .box .client_id .img-box img {
                        width: 100%;
                    }

                .client_section .box .client_id .name {
                    margin-top: 15px;
                }

                    .client_section .box .client_id .name h5 {
                        text-transform: uppercase;
                        font-size: 18px;
                    }

                    .client_section .box .client_id .name h6 {
                        color: #6d6c6c;
                    }

                .client_section .box .client_id:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #ffffff;
                    z-index: -1;
                    -webkit-clip-path: polygon(0 14%, 89% 14%, 89% 48%, 100% 53%, 89% 58%, 89% 100%, 0 100%);
                    clip-path: polygon(0 14%, 89% 14%, 89% 48%, 100% 53%, 89% 58%, 89% 100%, 0 100%);
                }

                .client_section .box .client_id:after {
                    content: "";
                    position: absolute;
                    top: 17%;
                    left: 3%;
                    width: 85%;
                    height: 85%;
                    background-color: rgba(0, 0, 0, 0.2);
                    z-index: -2;
                    -webkit-filter: blur(25px);
                    filter: blur(25px);
                }

        .client_section .btn-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .client_section .btn-box a {
                display: inline-block;
                padding: 10px 45px;
                background-color: #171717;
                border: 1px solid #171717;
                color: #ffffff;
                border-radius: 5px;
                -webkit-transition: -webkit-transform 0.3s;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;
                margin-top: 25px;
            }

                .client_section .btn-box a:hover {
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
                    -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                }

        .info_section {
            background-color: #171717;
            color: #ffffff;
            padding: 90px 0 45px 0;
        }

            .info_section h5 {
                margin-bottom: 35px;
                font-size: 22px;
            }

            .info_section .info_contact .info_logo a {
                position: relative;
            }

                .info_section .info_contact .info_logo a span {
                    color: #ffffff;
                    font-size: 26px;
                    font-weight: bold;
                    position: relative;
                    z-index: 3;
                }

                .info_section .info_contact .info_logo a::before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    bottom: 0;
                    width: 60px;
                    height: 55px;
                    background-color: #30ae69;
                    z-index: 2;
                }

            .info_section .info_contact .img-box {
                width: 35px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .info_section .info_contact p {
                margin: 0;
            }

            .info_section .info_contact > div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin: 20px 0;
            }

                .info_section .info_contact > div img {
                    height: auto;
                    margin-right: 12px;
                }

            .info_section .info_links ul {
                padding: 0;
            }

                .info_section .info_links ul li {
                    list-style-type: none;
                }

                    .info_section .info_links ul li a {
                        display: inline-block;
                        color: #ffffff;
                        margin: 2px 0;
                    }

            .info_section .info_form form input {
                outline: none;
                width: 100%;
                padding: 7px 10px;
                border: 1px solid #ffffff;
                background-color: transparent;
                color: #ffffff;
            }

                .info_section .info_form form input::-webkit-input-placeholder {
                    color: #ffffff;
                }

                .info_section .info_form form input:-ms-input-placeholder {
                    color: #ffffff;
                }

                .info_section .info_form form input::-ms-input-placeholder {
                    color: #ffffff;
                }

                .info_section .info_form form input::placeholder {
                    color: #ffffff;
                }

            .info_section .info_form form button {
                display: inline-block;
                padding: 8px 35px;
                background-color: #30ae69;
                border: 1px solid #30ae69;
                color: #ffffff;
                border-radius: 0;
                -webkit-transition: -webkit-transform 0.3s;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;
                margin-top: 15px;
                text-transform: uppercase;
                font-size: 15px;
            }

                .info_section .info_form form button:hover {
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
                    -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
                }

        /* footer section*/
        .footer_section {
            background-color: #171717;
            font-weight: 500;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .footer_section p {
                padding: 20px;
                color: #636363;
                margin: 0 auto;
                text-align: center;
            }

            .footer_section a {
                color: #636363;
            }

        /* end footer section*/
        /*# sourceMappingURL=style.css.map */



        /* Add rounded edges to input elements */
        input[type="text"],
        input[type="number"],
        input[type="email"],
        textarea {
          display: block; /* Set display property to block to make them stack vertically */
    border: 1px solid black;
/*    border-radius: 5px;*/
    padding: 8px;
    margin-bottom: 10px; /* Add margin to separate textboxes */
    width: 50%; /* Set width to 100% to take up full container width */
            
        }

        /* Style the submit button */
        input[type="submit"] {
            background-color: black; /* Set background color to black */
            color: white; /* Set text color to white */
            border: none; /* Remove border */
            border-radius: 0px; /* Add rounded edges */
            padding: 10px 20px; /* Add padding for better appearance */
            cursor: pointer; /* Change cursor to pointer on hover */
        }

        img{

            max-width: 520px;
            
        }

        .move-right {
            float: right; /* Use the float property to move the image to the right */
            margin-left: 10px; /* Add some margin to create space between the image and surrounding content */
        }


    </style>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
   
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    <div class="heading_container">
                <h2>
                   Volunteer to be part of our journey
                </h2>
            </div>
    <form onsubmit="submitForm(event)">
        <div>
            <label for="type">Select Type:</label><br>
            <input type="checkbox" name="type" value="individual" id="type-individual"  onclick="handleCheckboxChange('type-individual')" checked  >
            <label for="type-individual">Individual</label><br>
            <img src="~/images/volunteer.jpg" alt="" class="move-right" />
            <input type="checkbox" name="type" value="company" id="type-company" onclick="handleCheckboxChange('type-company')">
            <label for="type-company">Company</label><br>

            <input type="checkbox" name="type" value="donate" id="type-donate" onclick="handleCheckboxChange('type-donate')">
            <label for="type-donate">Donate Items</label><br>
        </div>
    

        <div id="company-section" style="display: none;">
            <label for="company">Company Name:</label>
            <input type="text" id="company"><br>
        </div>
     
        <div id="item-section" style="display: none;">
            <label for="item">Item Name:</label>
            <input type="text" id="item"><br>

        
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity"><br>
        </div>
   
        <div id="individual-section" style="display: none;">
           
            <label for="name">Name:</label>
          
            <input type="text" id="name" required><br>
           
            <label for="number">Number:</label>
            <input type="text" id="number" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" required><br>

            <label for="message">Message:</label><br>
            <textarea id="message" required></textarea><br>
        </div>

        <input type="submit" id="submit-btn" value="Submit" style="display: none;">
    </form>
    <script>
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        handleCheckboxChange('type-individual')
        const firebaseConfig = {
            apiKey: "AIzaSyAgtKfKalMrFgJ3DinCkqhjGShppxxDgIU",
            authDomain: "sevahands-4c62d.firebaseapp.com",
            projectId: "sevahands-4c62d",
            storageBucket: "sevahands-4c62d.appspot.com",
            messagingSenderId: "585674093065",
            appId: "1:585674093065:web:a2187fe9bf194037f63ed8",
            measurementId: "G-VH3KMBZPLJ"
        };
        firebase.initializeApp(firebaseConfig);

        function submitForm(event) {
            event.preventDefault();

            var name = document.getElementById('name').value;
            var number = document.getElementById('number').value;
            var email = document.getElementById('email').value;
            var message = document.getElementById('message').value;

            var type = '';
            var company = '';
            var item = '';
            var quantity = '';

            var typeCheckbox = document.querySelectorAll('input[name="type"]:checked')[0];
            if (typeCheckbox) {
                type = typeCheckbox.value;
                if (type === 'company') {
                    company = document.getElementById('company').value;
                } else if (type === 'donate') {
                    item = document.getElementById('item').value;
                    quantity = document.getElementById('quantity').value;
                }
            }

            firebase.database().ref('volunteers').push({
                name: name,
                number: number,
                email: email,
                message: message,
                type: type,
                company: company,
                item: item,
                quantity: quantity
            });

            document.getElementById('name').value = '';
            document.getElementById('number').value = '';
            document.getElementById('email').value = '';
            document.getElementById('message').value = '';

            // Reset the additional fields and hide the corresponding sections
            document.getElementById('company').value = '';
            document.getElementById('item').value = '';
            document.getElementById('quantity').value = '';
            document.getElementById('company-section').style.display = 'none';
            document.getElementById('item-section').style.display = 'none';
        }



        function handleCheckboxChange(checkboxId) {
            var checkboxes = document.querySelectorAll('input[name="type"]');
            var checkedCheckbox = document.getElementById(checkboxId);
            var companySection = document.getElementById('company-section');
            var itemSection = document.getElementById('item-section');
            var individualSection = document.getElementById('individual-section');
            var submitBtn = document.getElementById('submit-btn');

            checkboxes.forEach(function (checkbox) {
                if (checkbox !== checkedCheckbox) {
                    checkbox.checked = false;
                }
            });

            if (checkedCheckbox.id === 'type-company') {
                companySection.style.display = 'block';
                itemSection.style.display = 'none';
                individualSection.style.display = 'block';
                submitBtn.style.display = 'block';
            } else if (checkedCheckbox.id === 'type-donate') {
                companySection.style.display = 'none';
                itemSection.style.display = 'block';
                individualSection.style.display = 'block';
                submitBtn.style.display = 'block';
            } else if (checkedCheckbox.id === 'type-individual') {
                companySection.style.display = 'none';
                itemSection.style.display = 'none';
                individualSection.style.display = 'block';
                submitBtn.style.display = 'block';
            } else {
                companySection.style.display = 'none';
                itemSection.style.display = 'none';
                individualSection.style.display = 'none';
                submitBtn.style.display = 'none';
            }
        }

    </script>
</body>
</html>